{
    "extends": [
        "airbnb-typescript"
    ],
    "rules": {
        "react/jsx-filename-extension": "off",
        "import/extensions": "off",
        "import/no-extraneous-dependencies": "off",
        "no-unused-vars": [
            "error",
            { "varsIgnorePattern": "_[a-zA-Z0-9]*", "argsIgnorePattern": "_[a-zA-Z0-9]*" }
        ],
        "@typescript-eslint/no-unused-vars": [
            "error",
            { "varsIgnorePattern": "_[a-zA-Z0-9]*", "argsIgnorePattern": "_[a-zA-Z0-9]*" }
        ],
        "@typescript-eslint/indent": [
            "error",
            4
        ]
    },
    "parserOptions": {
        "project": [
            "tsconfig.json"
        ]
    }
}